## IMPORTING THE LIBRARIES

In [47]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

## CALCULATING THE VOLATALITY

In [48]:
dax_demo = pd.read_csv(r"C:\Users\vishw\Desktop\CAPSTONE\DAX Volatality.csv")

In [49]:
dax_demo.head()

,date,Open,High,Low,Close,Adj Close,Volume
0,1/1/2020,"13,233.71","13,640.06","12,948.17","12,981.97","12,981.97","1,737,147,300"
1,2/1/2020,"13,033.17","13,795.24","11,724.12","11,890.35","11,890.35","2,231,747,600"
2,3/1/2020,"12,030.27","12,272.99","8,255.65","9,935.84","9,935.84","4,826,748,300"
3,4/1/2020,"9,610.67","11,235.57","9,337.02","10,861.64","10,861.64","2,507,299,800"
4,5/1/2020,"10,543.36","11,813.14","10,160.89","11,586.85","11,586.85","2,221,913,600"

In [50]:
dax_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        61 non-null     object
 1   Open        61 non-null     object
 2   High        61 non-null     object
 3   Low         61 non-null     object
 4   Close       61 non-null     object
 5   Adj Close   61 non-null     object
 6   Volume      61 non-null     object
dtypes: object(7)
memory usage: 3.5+ KB

## All our columns are being read as objects (strings), not as numbers so lets convert them.

In [51]:
# Read CSV
dax = pd.read_csv(r"C:\Users\vishw\Desktop\CAPSTONE\DAX Volatality.csv")

# Clean column names (strip spaces)
dax.columns = dax.columns.str.strip()

# Convert date column
dax['date'] = pd.to_datetime(dax['date'])

# Convert numeric columns
for col in ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']:
    dax[col] = dax[col].astype(str).str.replace(',', '').astype(float)

## Volatality Calculation

In [52]:
# Calculate log returns using Adj Close
dax['Return'] = np.log(dax['Adj Close'] / dax['Adj Close'].shift(1))

# Calculate rolling volatility (30-day window ~ monthly)
dax['Volatility'] = dax['Return'].rolling(window=30).std() * np.sqrt(30)  # annualize if needed

print(dax.head())

        date      Open      High       Low     Close  Adj Close        Volume  \
0 2020-01-01  13233.71  13640.06  12948.17  12981.97   12981.97  1.737147e+09
1 2020-02-01  13033.17  13795.24  11724.12  11890.35   11890.35  2.231748e+09
2 2020-03-01  12030.27  12272.99   8255.65   9935.84    9935.84  4.826748e+09
3 2020-04-01   9610.67  11235.57   9337.02  10861.64   10861.64  2.507300e+09
4 2020-05-01  10543.36  11813.14  10160.89  11586.85   11586.85  2.221914e+09

     Return  Volatility
0       NaN         NaN
1 -0.087834         NaN
2 -0.179579         NaN
3  0.089089         NaN
4  0.064634         NaN

In [53]:
dax

,date,Open,High,Low,Close,Adj Close,Volume,Return,Volatility
0,2020-01-01,13233.71,13640.06,12948.17,12981.97,12981.97,1.737147e+09,NaN,NaN
1,2020-02-01,13033.17,13795.24,11724.12,11890.35,11890.35,2.231748e+09,-0.087834,NaN
2,2020-03-01,12030.27,12272.99,8255.65,9935.84,9935.84,4.826748e+09,-0.179579,NaN
3,2020-04-01,9610.67,11235.57,9337.02,10861.64,10861.64,2.507300e+09,0.089089,NaN
4,2020-05-01,10543.36,11813.14,10160.89,11586.85,11586.85,2.221914e+09,0.064634,NaN
...,...,...,...,...,...,...,...,...,...
56,2024-09-01,18913.53,19491.93,18208.84,19324.93,19324.93,1.393399e+09,0.021868,0.261946
57,2024-10-01,19409.39,19674.68,18911.72,19077.54,19077.54,1.217257e+09,-0.012884,0.260930
58,2024-11-01,19093.99,19640.15,18812.53,19626.45,19626.45,1.415337e+09,0.028366,0.261377
59,2024-12-01,19586.17,20522.82,19568.50,19909.14,19909.14,1.114143e+09,0.014301,0.224994
60,2025-01-01,19923.07,21800.52,19833.82,21732.05,21732.05,1.419144e+09,0.087609,0.233522

## Our DAX Volatality CSV is ready, lets explore the other CSV Files.

In [54]:
cpi = pd.read_csv(r'C:\Users\vishw\Desktop\CAPSTONE\CPI Inflation.csv', parse_dates=['date'])
zew = pd.read_csv(r'C:\Users\vishw\Desktop\CAPSTONE\ZEW Sentiment.csv', parse_dates=['date'])
bond = pd.read_csv(r'C:\Users\vishw\Desktop\CAPSTONE\Interest Rates Long Term Government Bond Yields 10 Year.csv', parse_dates=['date'])
eurusd = pd.read_csv(r'C:\Users\vishw\Desktop\CAPSTONE\EUR to USD.csv', parse_dates=['date'])
unemp = pd.read_csv(r'C:\Users\vishw\Desktop\CAPSTONE\Unemployment Rate.csv', parse_dates=['date'])

In [55]:
print(cpi.dtypes)
print(zew.dtypes)
print(bond.dtypes)
print(eurusd.dtypes)
print(unemp.dtypes)

date                                            datetime64[ns]
DEUCPIALLMINMEI (CPI) Germany Inflation rate           float64
dtype: object
date                                                     datetime64[ns]
ZEW Indicator of Economic Sentiment Germany, balances           float64
Economic Situation Germany, balances                            float64
dtype: object
date                                                                                                                   datetime64[ns]
IRLTLT01DEM156N (Interest Rates: Long-Term Government Bond Yields: 10-Year: Main (Including Benchmark) for Germany)           float64
dtype: object
date                                  datetime64[ns]
DEXUSEU (U.S. Dollars to One Euro)           float64
dtype: object
date                 datetime64[ns]
Unemployment Rate           float64
dtype: object

# Rename columns for clarity

In [56]:
cpi.rename(columns={'DEUCPIALLMINMEI (CPI) Germany Inflation rate': 'CPI'}, inplace=True)
zew.rename(columns={
    'ZEW Indicator of Economic Sentiment Germany, balances': 'ZEW_Sentiment',
    'Economic Situation Germany, balances': 'ZEW_Situation'
}, inplace=True)
bond.rename(columns={'IRLTLT01DEM156N (Interest Rates: Long-Term Government Bond Yields: 10-Year: Main (Including Benchmark) for Germany)': 'Bond_Yield'}, inplace=True)
eurusd.rename(columns={'DEXUSEU (U.S. Dollars to One Euro)': 'EURUSD'}, inplace=True)
unemp.rename(columns={'Unemployment Rate': 'Unemployment'}, inplace=True)

# Let's explore the GDP CSV as well.

In [57]:
gdp = pd.read_csv(r'C:\Users\vishw\Desktop\CAPSTONE\QUARTERLY REAL GDP Percentage change from Year Ago.csv', parse_dates=['date'])

In [58]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   date                                                               21 non-null     datetime64[ns]
 1   CLVMNACSCAB1GQDE_PC1 ( QUARTERLY REAL GDP % change from Year Ago)  21 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 468.0 bytes

In [59]:
gdp.head()

,date,CLVMNACSCAB1GQDE_PC1 ( QUARTERLY REAL GDP % change from Year Ago)
0,2020-01-01,-1.91095
1,2020-04-01,-10.69804
2,2020-07-01,-3.18538
3,2020-10-01,-2.04875
4,2021-01-01,-0.95807

## GDP data is quarterly (4 values per year), while all your other datasets (CPI, DAX, unemployment, etc.) are monthly (12 values per year) so lets fix this.

In [66]:
gdp.rename(columns={'CLVMNACSAB1GQDE_PC1 ( QUARTERLY REAL GDP % change from Year Ago)': 'GDP'}, inplace=True)

In [61]:

gdp['date'] = pd.to_datetime(gdp['date'])
gdp.set_index('date', inplace=True)

# Resample to month-start frequency
gdp = gdp.resample('MS').ffill().reset_index()

In [62]:
gdp.head()

,date,CLVMNACSCAB1GQDE_PC1 ( QUARTERLY REAL GDP % change from Year Ago)
0,2020-01-01,-1.91095
1,2020-02-01,-1.91095
2,2020-03-01,-1.91095
3,2020-04-01,-10.69804
4,2020-05-01,-10.69804

In [63]:
gdp

,date,CLVMNACSCAB1GQDE_PC1 ( QUARTERLY REAL GDP % change from Year Ago)
0,2020-01-01,-1.91095
1,2020-02-01,-1.91095
2,2020-03-01,-1.91095
3,2020-04-01,-10.69804
4,2020-05-01,-10.69804
...,...,...
56,2024-09-01,-0.32619
57,2024-10-01,-0.15533
58,2024-11-01,-0.15533
59,2024-12-01,-0.15533
60,2025-01-01,0.01907

## We can clearly see that now we have 61 rows of data and the date format is also now consistent.

## Lets merge the dataset into one single CSV file.

In [64]:
df = dax.merge(cpi, on='date', how='left') \
        .merge(zew, on='date', how='left') \
        .merge(bond, on='date', how='left') \
        .merge(eurusd, on='date', how='left') \
        .merge(unemp, on='date', how='left') \
        .merge(gdp, on='date', how='left')

In [65]:
df.head()

,date,Open,High,Low,Close,Adj Close,Volume,Return,Volatility,CPI,ZEW_Sentiment,ZEW_Situation,Bond_Yield,EURUSD,Unemployment,CLVMNACSCAB1GQDE_PC1 ( QUARTERLY REAL GDP % change from Year Ago)
0,2020-01-01,13233.71,13640.06,12948.17,12981.97,12981.97,1.737147e+09,NaN,NaN,105.2175,26.7,-9.5,-0.313636,1.1098,3.2,-1.91095
1,2020-02-01,13033.17,13795.24,11724.12,11890.35,11890.35,2.231748e+09,-0.087834,NaN,105.5338,8.7,-15.7,-0.466000,1.0911,3.3,-1.91095
2,2020-03-01,12030.27,12272.99,8255.65,9935.84,9935.84,4.826748e+09,-0.179579,NaN,105.7447,-49.5,-43.1,-0.541364,1.1046,3.4,-1.91095
3,2020-04-01,9610.67,11235.57,9337.02,10861.64,10861.64,2.507300e+09,0.089089,NaN,105.8501,28.2,-91.5,-0.449500,1.0871,3.5,-10.69804
4,2020-05-01,10543.36,11813.14,10160.89,11586.85,11586.85,2.221914e+09,0.064634,NaN,105.8501,51.0,-93.5,-0.516500,1.0907,3.6,-10.69804

In [69]:
df.rename(columns={'CLVMNACSCAB1GQDE_PC1 ( QUARTERLY REAL GDP % change from Year Ago)': 'GDP'}, inplace=True)

In [70]:
df

,date,Open,High,Low,Close,Adj Close,Volume,Return,Volatility,CPI,ZEW_Sentiment,ZEW_Situation,Bond_Yield,EURUSD,Unemployment,GDP
0,2020-01-01,13233.71,13640.06,12948.17,12981.97,12981.97,1.737147e+09,NaN,NaN,105.2175,26.7,-9.5,-0.313636,1.1098,3.2,-1.91095
1,2020-02-01,13033.17,13795.24,11724.12,11890.35,11890.35,2.231748e+09,-0.087834,NaN,105.5338,8.7,-15.7,-0.466000,1.0911,3.3,-1.91095
2,2020-03-01,12030.27,12272.99,8255.65,9935.84,9935.84,4.826748e+09,-0.179579,NaN,105.7447,-49.5,-43.1,-0.541364,1.1046,3.4,-1.91095
3,2020-04-01,9610.67,11235.57,9337.02,10861.64,10861.64,2.507300e+09,0.089089,NaN,105.8501,28.2,-91.5,-0.449500,1.0871,3.5,-10.69804
4,2020-05-01,10543.36,11813.14,10160.89,11586.85,11586.85,2.221914e+09,0.064634,NaN,105.8501,51.0,-93.5,-0.516500,1.0907,3.6,-10.69804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2024-09-01,18913.53,19491.93,18208.84,19324.93,19324.93,1.393399e+09,0.021868,0.261946,126.1978,3.6,-84.5,2.167143,1.1104,3.5,-0.32619
57,2024-10-01,19409.39,19674.68,18911.72,19077.54,19077.54,1.217257e+09,-0.012884,0.260930,126.7249,13.1,-86.9,2.229565,1.0895,3.5,-0.15533
58,2024-11-01,19093.99,19640.15,18812.53,19626.45,19626.45,1.415337e+09,0.028366,0.261377,126.4086,7.4,-91.4,2.305714,1.0621,3.5,-0.15533
59,2024-12-01,19586.17,20522.82,19568.50,19909.14,19909.14,1.114143e+09,0.014301,0.224994,127.0412,15.7,-93.1,2.178889,1.0472,3.5,-0.15533
60,2025-01-01,19923.07,21800.52,19833.82,21732.05,21732.05,1.419144e+09,0.087609,0.233522,126.8304,10.3,-90.4,2.483636,1.0356,3.6,0.01907

## We can clearly see that the new df is ready for further analysis. We have handled the data cleaning part and have merge all the data sets for further analysis.

In [73]:
df.to_csv(r'C:\Users\vishw\Desktop\CAPSTONE\merged_data.csv', index=False)